:root {
  --ff-primary: 'Lato', sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
  --clr-yellow: #fff9c0;
  --clr-brown: #514141;
  --clr-lgreen: #3b7847;
  --clr-mgreen: #25562f;
  --clr-dgreen: #223f28;
  --fs-body: 15px;
}

* {
  box-sizing: border-box;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--clr-brown);
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

._37MJ1xvRzfDb-7MwXjBbO4 {
  position: relative;
  min-height: 100vh;
}

._2MZay972Q3U_sjXxIW62Hx {
  padding-bottom: 21em;
}

@media (min-width: 1200px) {
}

@media (min-width: 900px) {
}

@media (min-width: 600px) {
}

/* Header */

@font-face {
  font-family: 'Bukyvede';
  src: url(fonts/Bukyvede.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

._2Htz8ssHh0cy8ywuUtyPsE {
  position: relative;
  height: 5.5em;
  background-color: var(--clr-lgreen);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 1em;
  z-index: 1000;
}

._36YiCUsmnvkTmplnm_nHaJ {
  border: none;
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
  background: none;
  border-radius: 8px;
  padding: 0;
}

._36YiCUsmnvkTmplnm_nHaJ:hover {
  background-color: var(--clr-mgreen);
  outline: none;
}

._36YiCUsmnvkTmplnm_nHaJ:focus {
  outline: none;
}

._22Cbl0zvJwC-BZ5opVUBnn {
  width: 4em;
  margin: 0 1em;
}

._2Htz8ssHh0cy8ywuUtyPsE h1 {
  color: var(--clr-yellow);
  line-height: 0.5;
  font-size: 1em;
}

._35qASyFQpnCjoMuNVtOhUR {
  font-family: 'Bukyvede', sans-serif;
  font-size: 1.4em;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
}

@media (min-width: 900px) {
}

@media (min-width: 600px) {
  ._36YiCUsmnvkTmplnm_nHaJ {
    display: none;
  }

  ._22Cbl0zvJwC-BZ5opVUBnn {
    margin-left: 0;
    width: 5em;
    height: 4em;
  }
}

/* Main menu */

nav {
  position: absolute;
  z-index: 900;
  top: 5.5em;
  left: 0;
  background-color: var(--clr-lgreen);
  width: 70%;
  height: 80%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  background-color: var(--clr-lgreen);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  height: 3em;
  padding: 0 0 0 1em;
}

nav li:hover {
  background-color: var(--clr-mgreen);
}

._2tGrF5aqQu_UkSv69MeSmR {
  text-transform: uppercase;
  color: var(--clr-yellow);
  font-weight: var(--fw-bold);
  font-size: 1.2em;
  text-decoration: none;
  line-height: 2.5em;
}

._2tGrF5aqQu_UkSv69MeSmR:hover {
  color: var(--clr-yellow);
  text-decoration: none;
}

nav hr {
  width: 100%;
  margin: 0;
  border-color: var(--clr-yellow);
  opacity: 0.5;
}

@media (min-width: 1200px) {
}

@media (min-width: 900px) {
}

@media (min-width: 600px) {
  nav {
    position: absolute;
    width: 100%;
    height: 4em;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-image: url(1b96baa34420aa8e4180b33c5753555b.svg);
    background-color: transparent;
  }

  nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }

  nav li {
    margin-right: 2em;
    padding: 0;
  }

  nav li:hover {
    background-color: transparent;
  }

  ._3glkZS-Unx_pjyRLrUrhov {
    margin-right: 0;
  }

  ._2tGrF5aqQu_UkSv69MeSmR {
    line-height: 3.3em;
  }

  ._2tGrF5aqQu_UkSv69MeSmR:hover {
    border-bottom: var(--clr-yellow) 0.1em solid;
  }

  nav hr {
    display: none;
  }
}

/* Main */

main {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  background-image: url(180399bad1c73bf131e0593a7a084f4d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.xX6Q2ZAZLq3Um1C2SyVRE {
  position: relative;
  border-radius: 0.6em;
  height: 100%;
  padding: 1em;
  background-image: url(a47c4e81beb2d7441c059e8f889752a0.svg);
}

main p {
  margin: 0;
  line-height: 1.3;
  font-weight: var(--fw-reg);
  margin-bottom: 3em;
}

@media (min-width: 1200px) {
}

@media (min-width: 900px) {
}

@media (min-width: 600px) {
}

@media (min-width: 400px) {
  main {
    padding: 5em 1em 1em 1em;
  }
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 21em;
  background-color: #223f28;
  padding-top: 0.5em;
  z-index: 1000;
}

footer p {
  font-size: 1em;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--clr-yellow);
  text-align: center;
}

footer hr {
  margin: 0 auto;
  border-color: var(--clr-yellow);
  width: 10%;
  opacity: 0.5;
}

footer img {
  margin: 0.5em auto 1em auto;
}

._212oqal3LrsQ3XmlHzpKDb {
  font-size: 0.8em;
}

@media (min-width: 1200px) {
}

@media (min-width: 900px) {
}

@media (min-width: 600px) {
}

